/* START HEADER */
.background-header{
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 0px 0px 25px 25px;
} 

.header-logo{
    font-weight: bold;
    font-size: 29px;
    line-height: 40px;
    color: #6379F4 !important;
}

.parap-header{
    margin-bottom:0rem;
}

.logo{
    margin-right:20px;
}

.text-header{
    margin-right: 20px;
}

/* START FOOTER */

.footer-box{
    background-color: #6379F4;
}

.footer-left{
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: rgba(239, 239, 239, 0.9);
}

.footer-right{
    font-size: 16px;
    line-height: 28px;
    color: #EFEFEF;
}

.parap-footer{
    margin-bottom:0rem;
    height:50px;
    line-height: 45px;
}

@media screen and (min-width: 280px) and (max-width: 768px){
    .parap-footer-mobile{
        display: none !important;
    }
    .parap-footer{
        margin:0px !important;
        text-align: center !important;
    }
}

/* START SIDEBAR */

.h-dashboard-in{
    margin-bottom:30px;
    margin-top: 30px;
}

.h-img-dashboard{
    width:28px;
    height:28px;
    margin-left: 30px;
}

.h-dashboard{
    margin-left:15px;
    width:91px;
    height:31px;
    font-weight: normal;
    font-size: 18px;
    line-height: 50px;
    color: rgba(58, 61, 66, 0.8);
    list-style-type: none;
    text-decoration: none;
}

.h-dashboard:hover{
    color: #6379F4;
    list-style-type: none;
    text-decoration: none;
}

.border-box{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius:25px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.side-right{
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius:25px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

@media screen and (min-width: 280px) and (max-width: 959px){
    .side-right{
        margin-top: 15px;
        margin-bottom: 20px;
        border-radius:25px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    } 
}

.h-dashboard-last{
    margin-top: 55px;
}

